# General
UseTab: Never
IndentWidth: 4
ColumnLimit: 0
# Braces
BreakBeforeBraces: Allman
# Pointer
PointerAlignment: Right
SpaceAroundPointerQualifiers: Both
# Includes
SortIncludes: Never
# Alignment
AlignAfterOpenBracket: Align
AlignArrayOfStructures: Right
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveMacros: Consecutive
AlignEscapedNewlines: Left
AlignOperands: AlignAfterOperator
AlignTrailingComments: true
# other
AllowShortBlocksOnASingleLine: Always
